#myMainBtnDiv {
	left:50%;
	bottom:20px;
	height:150px;
	width:600px;
	transform:translate(-50%, 0%);
	z-index:20000;
	position:absolute;
	display:'';
}
#myMainBtnDiv img {
	float: left;
	width: 150px;
	margin-right: 30px;
}